
:root {
    --header-bg-color: #4a7799;
    --textarea-bg-color: rgb(250, 246, 246);
    --body-bg-color: rgb(210, 214, 210);
    --nav-link-color: #bbb;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    margin: auto;
    font-family: Lato, sans-serif;
    background: var(--body-bg-color);
    line-height: 1.75;
    word-spacing: 1.5px;
    font-weight: 300;
    width: 100%;
}

header {
    background-color: var(--header-bg-color);
}

main {
    width: 90%;
    margin: auto;
}

h1, h2{
    font-family: Nunito;
    font-weight: 300;
    margin: 20px;

}

p {
    font-size: 22px;
    font-weight: 300;
}

ul {
    list-style-type: none;
}

img {
    height: 30px;
    width: 30px;
}

footer {
    background-color: var(--header-bg-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(221, 215, 215);
    padding: 50px;
}

.menu-container {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(221, 215, 215);
    padding: 25px;
}

a.brand-name {
    font-size: 28px;
}

.btn {
    display: inline-block;
    width: 150px;
    height: 50px;
    color: var(--nav-link-color);
    font-size: 20px;
    font-family: Lato, sans-serif;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    margin-top: 25px;
    text-decoration: none;
}

.btn.btn-primary {
    background-color: var(--header-bg-color);
}

.nav-lists {
    display: flex;
}

.nav-link {
    text-decoration: none;
    font-size: 22px;
    padding: 0px 5px;
    color: var(--nav-link-color);
    font-weight: 400;
}

.nav-list {
    list-style: none;
    margin: 0px 5px;
}

.container{
    margin: auto;
    padding: 20px;
    background-color: var(--body-bg-color);
}

textarea.text-analyzer{
    width: 60%;
    padding: 10px;
    font-family: sans-serif;
    font-size: 16px;
}

.controls {
    display: flex;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.form-control{
    width: 50%;
    height: 3rem;
    padding: 5px;
    border: none;
}