body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(136, 136, 136, 0.5);
    margin: 0;
    padding: 0;
    width: auto;
}

header{
    width:100%;
    background-color: #7ab7d6;
    color: #999999;
    padding: 20px;
}

footer{
    background-color: rgba(122, 183, 214, 0.8);
    width: auto;
    margin: 0;
    display: block;
    clear: both;
}

img{
    height: 32px;
    width: 32px;
    position: relative;
    left: 45%;
}

div .menu-container .active{
    background-color: #7ab7d6;
}

div.container{
    padding: 20px, 20px, 10px, 10px;
}

h1{
    margin-left: 30px;
}

p{
    margin-left: 20px;
}

p+ul{
    list-style-type: none;
}

form{
    position: relative;
    left: 5%;
}

a{
    color: #000000;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
}

a.brand-name{
    color: rgba(204, 204, 204, 0.8);
    font-size: larger;
    font-weight: bolder;
}

a.learning{
    color: #7ab7d6;
}

a.learning:hover{
    color: #999999;
}

a:active{
    color: #000000;
    text-decoration: none;
}

li .nav-link{
    color: rgba(204, 204, 204, 0.8);
    font-size: xx-large;
    font-weight: bolder;
    padding-left: 10px;
}
li.nav-list{
    list-style-type: none;
    display: inline-block;
}

textarea{
    width: 60%;
}

.btn{
    border-radius: 10px;
    width: 100px;
    height: 50px;
    background-color: #7ab7d6;
    color: #ffffff;
}

.result{
    font-size: x-large;
}

.username{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.center-footer{
    position: relative;
    left: 35%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

thead{
    background-color: rgba(122, 183, 214, 0.5);
    font-size: medium;
    font-weight: bold;
    color: #999999;
}

table.result{
    margin-left: 50px;
    border-collapse: collapse;
    border-spacing: 5px;
    background-color: #ffffff;
    width: 300px;
    text-align: center;
}

th, td{
    height: 50px;
}

td{
    border-top: 1px solid #999999;
}
