{% extends 'layout.html' %}
    
{% block content %}
  <div class="container">
    <h1>About {{name}}</h1>
    <p>
    This is a project from 30 days of python programming challenge. With more concepts being learnt, they'll be integrated into this web application. Learning to code is one thing and rhe applcation of your code to solving problems is another.
    This project has helped and many more has helped me see that. Follow me on github @<span class="username">BenFaruna</span> to see my past and future projects. Happy coding!!!
    </p>
  </div>
{% endblock %}
