{% extends 'layout.html' %}
    
{% block content %}
  <div class="container">
    <h1>About {{name}}</h1>
    <p>
      Coding for all is a community for developers, the founder of this community is Asabenah Shitahun. This community is aimed at building better developers irrespective of
      their age, level, skill, background or race.
    </p>
    <p>
      This community is open to all and its resources are free and can be accessed through github on the founder's profile. Check his repository <a href="#">@<span class="username">Asabenah</span></a>.
    </p>
    <br>
    <p>
    This is a project from 30 days of python programming challenge. With more concepts being learnt, they'll be integrated into this web application.
    Learning to code is one thing and the applcation of your code to solving problems is another.
    </p>
    <p>
    This project has helped and many more has helped me see that. Follow me on github @<span class="username">BenFaruna</span> to see my past and future projects.
    Happy coding!!!
    </p>
  </div>
{% endblock %}
