
    {% extends 'layout.html' %} {% block content %}
    <div class="container">
      <h1>Welcome to {{name}}</h1>
      <p>
        This application clean texts and analyse the number of word, characters and
        most frequent words in the text. Check it out by click text analyzer at the
        menu. This web application was built on the following technologies:
      </p>
      <ul class="tech-lists">
        {% for tech in techs %}
        <li class="tech">{{tech}}</li>
    
        {% endfor %}
      </ul>

      <p>
        This is part of the projects in my 30 days of python challenge, there's alot of new concepts to be learnt by beginners and a refresher for intermediate or advanced developers.
        You can learn JavaScript, React and Python using a similar guide.
        Want to start your coding journey, click <a href="https://github.com/Asabeneh/" class="learning">here</a>. Happy coding!!!
      </p>
    </div>
    
    {% endblock %}
