<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400|Nunito:300,400|Raleway:300,400,500&display=swap"
      rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    {% if title %}
    <title>30 Days of Python - {{ title}}</title>
    {% else %}
    <title>30 Days of Python</title>
    {% endif %}
  </head>

  <body>
    <header>
      <div class="menu-container">
        <div>
          <a class="brand-name nav-link" href="/">30DaysOfPython</a>
        </div>
        <ul class="nav-lists">
          <li class="nav-list">
            <a class="nav-link active" href="{{ url_for('about') }}">About</a>
          </li>
          <li class="nav-list">
            <a class="nav-link active" href="{{url_for('student_list')}}">Students</a>
          </li>
          <li class="nav-list">
            <a class="nav-link active" href="{{ url_for('post') }}">Text Analyzer</a>
          </li>
          <!-- <li class="nav-list">
            <a class="nav-link active" href="">Feedback</a></li>
          <li class="nav-list">
            <a class="nav-link active" href="feedback-result">Report</a>
          </li> -->
          <li class="nav-list">
            <a class="nav-link active" href="{{url_for('students')}}">API</a>
          </li>
          <li class="nav-list">
            <a class="nav-link active" href="{{url_for('create_student')}}">Join</a>
          </li>
        </ul>
      </div>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer>
    <p class="center-footer footer-flex">&copy; 2020 Courtesy of 30 Days of Python Challenge</p>
      <p class="footer-flex">
        To connect:<br>
        <a href="https://www.github.com/BenFaruna"><img src="{{ url_for('static', filename='image/GitHub-Mark-32px.png') }}" alt="github" title="Github profile"></a>
        <a href="https://www.twitter.com/Neodynamics"><img src="{{ url_for('static', filename='image/twitter_logo.png') }}" alt="twitter" title="Twitter Profile"></a>
        <a href="https://www.facebook.com/neodynamics?ref=bookmarks"><img src="{{ url_for('static', filename='image/facebook_logo.png') }}" alt="facebook" title="Facebook profile"></a>
      </p>
    </footer>
  </body>
</html>